body{
   background-color: #000;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.calculadora-conteiner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: auto;
    padding: 30px;
    margin: 5%;
    background: #B8FFF9;
    border: solid 5px #fff;
    border-radius: 10px;
}

.visor-conteiner{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80px;
    margin-bottom: 10%;
    color: #fff;
}

.visor{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-bottom: 10%;
    background-color: #5468FF;
    border: solid 3px #fff;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    text-align: center;
}

.inputs-conteiner{
    display: flex;
    justify-content: center;
}

.numbers-conteiner{
    display: flex;
    flex-wrap: wrap;
    padding-left: 5px;
}

.number{
    width: 60px;
    height: 50px;
    margin: 5px;
    text-align: center;
}

.operators-conteiner{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.operators{
    width: 50px;
    height: 50px;
    margin: 5px;
}

/* From uiverse.io by @adamgiebl */
button {
    font-size: 18px;
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    will-change: box-shadow,transform;
    background: radial-gradient( 100% 100% at 100% 0%, #89E5FF 0%, #5468FF 100% );
    box-shadow: 0px 0.01em 0.01em rgb(45 35 66 / 40%), 0px 0.3em 0.7em -0.01em rgb(45 35 66 / 30%), inset 0px -0.01em 0px rgb(58 65 111 / 50%);
    padding: 0 2em;
    border-radius: 0.3em;
    color: #fff;
    height: 2.6em;
    text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
    transition: box-shadow 0.15s ease, transform 0.15s ease;
   }
   
   button:hover {
    box-shadow: 0px 0.1em 0.2em rgb(45 35 66 / 40%), 0px 0.4em 0.7em -0.1em rgb(45 35 66 / 30%), inset 0px -0.1em 0px #3c4fe0;
    transform: translateY(-0.1em);
   }
   
   button:active {
    box-shadow: inset 0px 0.1em 0.6em #3c4fe0;
    transform: translateY(0em);
   }